:root {
    --darkerGreen: #4c8930;
    --lighterGreen: #5e9545;
    --evenDarkerGreen: #3d6e26;
}

.btn-primary, .btn-primary:visited {
    background-color: var(--darkerGreen) !important;
    color:white;
    border: none;
}

.btn-primary:hover {
    background-color: var(--lighterGreen) !important;
}

.btn-primary:active {
    background-color: var(--evenDarkerGreen) !important;
}

#header {
    background-color: var(--darkerGreen);
    width: 100%;
}

#header .nav-link{
    color: white;
}

#header ul {
    padding-right: 8em;
}

#dropdownMenuLink {
    background-color: white;
    text-align: start;
    width: 10em;
}

.navbar {
    padding: 0.5em 8.5em;
}

.navbar-brand {
    padding-right: 1em;
}

.navbar-brand img {
    width: 300px;
}

#mainImage {
    background-image: url(../assets/computer.jpg);
    width: 100%;
    background-size: cover;
    height: 30em;
}

#mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

#mainImage h1 {
    font-size: 4em;
}

#newsletter {
    text-align: center;
    padding: 0 20em;
}

#newsletter p {
    width: 60%;
    margin: 0 auto;
}

#newsletter .row {
    justify-content: center;
}

#newsletter .row div {
    padding-left: 0em;
    padding-right: 0em;
}

footer {
    padding: 3em 10em;
    width: 100%;
    background-color: black;
    color:white;
}

footer a {
    padding: 0em 0.5em;
}