:root {
    --darkerGreen: #4c8930;
    --lighterGreen: #5e9545;
    --evenDarkerGreen: #3d6e26;
    --grey: #eceeef;
}

.btn-primary, .btn-primary:visited {
    background-color: var(--darkerGreen) !important;
    color:white;
    border: none;
}

.btn-primary:hover {
    background-color: var(--lighterGreen) !important;
}

.btn-primary:active {
    background-color: var(--evenDarkerGreen) !important;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ccc !important;
}

#header {
    background-color: var(--darkerGreen);
    width: 100%;
}

#header .nav-link{
    color: white;
}

#header ul {
    padding-right: 8em;
}

#dropdownMenuLink {
    background-color: white;
    text-align: start;
    width: 10em;
}

.navbar {
    padding: 0.5em 8.5em;
}

.navbar-brand {
    padding-right: 1em;
}

.navbar-brand img {
    width: 300px;
}

#mainImage {
    background-image: url(../assets/computer.jpg);
    width: 100%;
    background-size: cover;
    height: 30em;
}

#mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

#mainImage h1 {
    font-size: 4em;
}

.icon {
    color: var(--darkerGreen);
    font-size: 6em;
    padding: 0.5em;
}

.stats {
    padding: 2em;
}

.stats span {
    padding-left: 1em;
}

.stats p{
    margin-bottom: 0em;
}

.stats p:first-child {
    font-weight: lighter;
    font-size: 4em;
}

.stats p:last-child {
    font-size: 1.2em;
}

.news {
    padding: 2em 6em;
    background-color: var(--grey);
}

.letter {
    padding: 1em;
    background-color: white;
    margin-left: 2em;
    border-radius: 0.3em;
    width: 45ch;
}

.letter p {
    margin-bottom: 0em;
}

.letter p:last-child {
    font-size: 1.4em;
    font-weight: 600;
}

.card {
    width: 15%;
    padding: 1em;
    text-align: center;
    margin-left: 2em;
}

.card-img-top {
    height: 10em;
    width: 100%;
    object-fit: contain;
}

#newsletter {
    text-align: center;
    padding-bottom: 2em;
}

#newsletter p {
    width: 45ch;
    margin: 0 auto;
}

#newsletter .row {
    justify-content: center;
}

#newsletter .row div {
    padding-right: 0em;
}

footer {
    padding: 3em 10em;
    width: 100%;
    background-color: black;
    color:white;
}

footer a {
    padding: 0em 0.5em;
}

footer .logos i {
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
    border-radius: 50%;
    width: 2em;
    background-color: var(--darkerGreen);
    margin-left: 0.3em;
}