:root {
    --darkerGreen: #4c8930;
    --lighterGreen: #5e9545;
    --evenDarkerGreen: #3d6e26;
    --grey: #eceeef;
}

.btn-primary, .btn-primary:visited {
    background-color: var(--darkerGreen) !important;
    color:white;
    border: none;
}

.btn-primary:hover {
    background-color: var(--lighterGreen) !important;
}

.btn-primary:active {
    background-color: var(--evenDarkerGreen) !important;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ccc !important;
}

input[type="text"]::placeholder, input[type="email"]::placeholder {
    color:black;
}

#header {
    background-color: var(--darkerGreen);
    width: 100%;
}

#header .nav-link{
    color: white;
}

#header ul {
    padding-right: 8em;
}

#dropdownMenuLink {
    background-color: white;
    color:black;
    text-align: start;
    width: 10em;
}

#dropdownMenuLink:hover {
    color: #ccc;
}

.dropdown-menu a {
    text-decoration: none;
    color:black;
    background-color: white;
}

.dropdown-menu a:active, .dropdown-menu a:hover {
    background-color: white;
    color: #ccc;
}

.navbar {
    padding: 0.5em 8.5em;
}

.navbar-brand {
    padding-right: 1em;
}

.navbar-brand img {
    width: 300px;
}

.navbar .nav-link {
    font-size: 1.3em;
}

#mainImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/computer.jpg);
    width: 100%;
    background-size: cover;
    height: 30em;
}

#mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

#mainImage h1 {
    font-size: 4em;
}

.links {
    padding-top: 3em;
}

.image {
    display: flex;
    width: 100%;
    height: 15em;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5em;
    margin-left: 2em;
}

.image:first-child {
    margin-left: 0;
}

.image h2 {
    font-size: 2em;
    color:white;
}

#company {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/company.png);
}

#contactus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/contactus.png);
}

#products {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/products.png);
}

.icon {
    color: var(--darkerGreen);
    font-size: 6em;
    padding: 0.5em;
}

.stats {
    padding: 2em;
}

.stats p{
    margin-bottom: 0em;
}

.stats p:first-child {
    font-weight: lighter;
    font-size: 4em;
}

.stats p:last-child {
    font-size: 1.2em;
}

.counter {
    width: 100%;
}

.news {
    padding: 2em 6em;
    background-color: var(--grey);
}

.letter {
    color:black;
}

.news a:hover {
    color:black !important;
}

.letter {
    line-height: 1.1;
    padding: 1em;
    background-color: white;
    margin-left: 2em;
    border-radius: 0.3em;
    width: 45ch;
}

.letter:first-child {
    margin-left: 0;
}

.letter p {
    margin-bottom: 0em;
}

.letter p:first-child {
    padding-bottom: 1em;
}

.letter p:last-child {
    font-size: 1.4em;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.card {
    width: 15%;
    text-align: center;
    margin-left: 2em;
    padding: 1em;
}

.card:first-child {
    margin-left: 0em;
}

.card-img-top {
    height: 10em;
    width: 100%;
    object-fit: contain;
    padding: 0.5em;
}

#newsletter {
    text-align: center;
    padding-bottom: 2em;
}

#newsletter p {
    width: 45ch;
    margin: 0 auto;
}

#newsletter .row {
    justify-content: center;
}

#newsletter .row div {
    padding-right: 0em;
}

#subscribed {
    display: none;
}

footer {
    padding: 3em 10em;
    width: 100%;
    background-color: black;
    color:white;
}

footer .pages a {
    padding: 0em 0.5em;
}

footer .logos i {
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
    border-radius: 50%;
    width: 2em;
    background-color: var(--darkerGreen);
    margin-left: 0.3em;
}

@media only screen and (max-width: 600px) {

    .navbar {
        padding: 0.5em 2em;
    }

    .links {
        flex-direction: column;
    }

    .image {
        margin-left: 0em;
        width: 100%;
        margin-bottom: 1em;
    }

    .icon {
        font-size: 3em;
        padding: 0.3em;
    }

    .stats p:first-child {
        font-size: 3em;
    }

    .stats p:last-child {
        font-size: 1em;
    }

    .news {
        padding: 2em 0em;
    }

    .news div {
        flex-direction: column;
        align-items: center;
        padding: 0em 0em;
    }

    .letter {
        padding: 1em;
        margin-left: 0em;
        margin-bottom: 1em;
    }

    .references div{
        flex-direction: column;
        padding: 1em;
    }

    .card {
        width: 100%;
        margin-left: 0em;
        padding: 0.5em;
        margin-bottom: 1em;
    }

    .card-img-top {
        padding: 0.5em;
    }

    footer {
        padding: 2em 2em;
    }

    footer .pages {
        display: flex;
        flex-direction: column;
    }

    footer .pages a{
        padding-bottom: 0.2em;
    }
}